Source: posanal
Maintainer: Malin Randstrom <malin@randstrom.com>
Section: python
Priority: optional
X-Python3-Version: >= 3.3
Build-Depends: python3-dev (>= 3.2), python3 (>=3.2), debhelper (>= 9), python-mysql.connector (>=0.3.2)
Standards-Version: 3.9.3

Package: python-posanal
Architecture: any
Section: python
Depends: ${python3:Depends}, ${misc:Depends} 
Pre-Depends: python-mysql.connector (>=0.3.2), python3-dev (>= 3.2), python3 (>=3.2)
Description: Position analysis module for libreoffice calc
 Position analysis module for libreoffice calc
